.btn-menu {
  width: 25px;
  height: 25px;  
  display: inline-block;  
}

.btn-forbid {
  cursor: not-allowed;
}

/*
三角形类的使用：
- 只需添加 需要方向的颜色 
  如 想要朝向左侧的三角只需要，border-left-color: #你喜欢的颜色;
- 底边大小 另外两侧的大小，
  如 左侧的三角，top和bottom就是调整底边长度 border-top-width: / border-bottom-width
- 高度是 该侧的大小 border-left-width
*/

.triangle {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}

.icon-wrap {
  width: 25px; 
  height: 25px;
  cursor: pointer;
}

.icon {
  width: 25px; 
  height: 25px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  background-size: cover;
  fill-opacity: cover;
  background-color: #eee;
}

a {
  text-decoration: none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(255,255,255,0);
}

/*定义滚动条轨道 内阴影+圆角*/
.scroll-bar::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(255,255,255,0);
}

/*定义滑块 内阴影+圆角*/
.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #454545;
}